<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>WORLD</mat-card-title>
        <mat-card-subtitle>
            your Property Valuation | Starts with Scoperty
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            "This platform values ​​the value of your home"
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button style="background-color:blue; color:white">
            LIKE
        </button>

        <button mat-button style="background-color:green; color:white">
            SHARE
        </button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Frankfurter Allgemeine</mat-card-title>
        <mat-card-subtitle>
            your Property Valuation | Starts with Scoperty
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Bidding for a villa in the neighborhood
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button style="background-color:blue; color:white">
            LIKE
        </button>

        <button mat-button style="background-color:green; color:white">
            SHARE
        </button>
    </mat-card-actions>
</mat-card>


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Southgerman newspaper</mat-card-title>
        <mat-card-subtitle>

            your Property Valuation | Starts with Scoperty

        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Real estate costs more and more. But there are clear differences
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button style="background-color:blue; color:white">
            LIKE
        </button>

        <button mat-button style="background-color:green; color:white">
            SHARE
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Real Estate Newspaper</mat-card-title>
        <mat-card-subtitle>
            your Property Valuation | Starts with Scoperty

        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Scoperty now active nationwide
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button style="background-color:blue; color:white">
            LIKE
        </button>

        <button mat-button style="background-color:green; color:white">
            SHARE
        </button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Evening newspaper Munich</mat-card-title>
        <mat-card-subtitle>
            your Property Valuation | Starts with Scoperty

        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            Here Munich residents can see what their home is worth
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button style="background-color:blue; color:white">
            LIKE
        </button>

        <button mat-button style="background-color:green; color:white">
            SHARE
        </button>
    </mat-card-actions>
</mat-card>