<div class="spinner" *ngIf="displaySpinner">
    <div class="loader"></div>
</div>
<p-toast></p-toast>
<div class="app-datainput-dynamic-table">
    <p-table #tt [columns]="cols" sortField="Id" [sortOrder]="-1" [value]="tableData" selectionMode="multiple"
        [(selection)]="selectedItem" [responsive]="true" [paginator]="true" [rows]="5"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="['5','10','25','50']" name="viewTable">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                    class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </div>
            <div class="table-header">
                <!-- <span class="title" style="margin-top:8px;">{{title}}</span> -->
                <span class="p-input-icon-left floatRight">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="tt.filterGlobal($event.target.value, 'contains')"
                        name="search" placeholder="Global Search" />
                </span>
                <div class="clear"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" name="searchIcon"></p-sortIcon>
                </th>
                <th>&nbsp;</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] === null ? "NA" : ""}}
                    {{ (col.field === 'RequestedDueDate') ||(col.field === 'InputDate')
                    ||(col.field === 'WorkStartDate')
                    ||(col.field === 'CompleteDate')
                    ||(col.field === 'WorkCompleteDate')
                    ||(col.field === 'WorkInQueueDate')
                    ||(col.field === 'WorkInDueDate')
                    ||(col.field === 'WorkSubmitted')
                    ||(col.field === 'RequestorCompleteDate')
                    ? (rowData[col.field]| date:
                    'mediumDate') : rowData[col.field] }}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editRecord(rowData)" name="edit"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRecord(rowData)" name="delete"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="noData" *ngIf="tableData?.length == 0 ">No Data Available</div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-dialog appendTo="body" *ngIf="formDialog" [(visible)]="formDialog" [style]="{width: '80%'}"
        header="Update Record for ID : {{editRowData.Id}}" [modal]="true" styleClass="p-fluid" name="pDailog">
        <app-datainput-dynamic-form [tableFrom]='tableFrom' [editForm]="editForm" [editRowData]="editRowData">
        </app-datainput-dynamic-form>
    </p-dialog>
</div>