.app-forms {
    padding: 10px 0 0;
    mat-list-item {
        display: inline-block;
        width: auto;
    }
    mat-form-field {
        margin: 0.25em 0.8em;
        font-size: 12px;
    }
    .form-container mat-card {
        margin: 0 10px 5px 0;
        border: 2px solid #e0e0e0;
        padding: 10px 5px 0;
    }
    .form-container .mat-card-header .mat-card-title {
        margin-bottom: 5px;
        font-size: 16px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
        padding-bottom: 0.5em !important;
    }
    .float-left {
        width: 47%;
        float: left;
    }
    /**Table style**/
    table th {
        background: rgb(35 35 35 / 87%);
        color: #fff;
    }
    //**Form footer styles**//
    ::ng-deep .mat-list-item,
    ::ng-deep .mat-list-item:hover {
        color: #fff;
    }

    .icon-cards {
        position: absolute;
        left: 500px;
        top: 250px;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%);
        perspective: 1000px;
    }

    .icon-cards-content {
        position: absolute;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform: translateZ(-145px) rotateY(0deg);
        animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
    }
    .icon-cards-item {
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 200px;
        opacity: 1;
        border-radius: 5px;
    }
    .icon-cards-item:nth-child(1) {
        transform: rotateY(72deg) translateZ(145px);
        background: url("https://source.unsplash.com/random/350x350");
    }
    .icon-cards-item:nth-child(2) {
        transform: rotateY(144deg) translateZ(145px);
        background: url("https://source.unsplash.com/random/350x351");
    }

    .icon-cards-item:nth-child(3) {
        transform: rotateY(216deg) translateZ(145px);
        background: url("https://source.unsplash.com/random/350x352");
    }
    .icon-cards-item:nth-child(4) {
        transform: rotateY(288deg) translateZ(145px);
        background: url("https://source.unsplash.com/random/350x353");
    }
    .icon-cards-item:nth-child(5) {
        transform: rotateY(360deg) translateZ(145px);
        background: url("https://source.unsplash.com/random/350x354");
    }

    @keyframes carousel {
        0%,
        15% {
            transform: translateZ(-145px) rotateY(0deg);
        }

        25%,
        40% {
            transform: translateZ(-145px) rotateY(-72deg);
        }

        50%,
        65% {
            transform: translateZ(-145px) rotateY(-144deg);
        }

        75%,
        90% {
            transform: translateZ(-145px) rotateY(-216deg);
        }
    }
}
