<div class="spinner" *ngIf="displaySpinner">
    <div class="loader"></div>
</div>
<div class="app-forms">
    <mat-card *ngIf="!editForm" class='header form-header'>
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
            <button class="toolbox-show-btn" mat-flat-button color="primary" (click)="drawer.toggle()">
                <span class="material-icons" align="end">
                    vertical_split
                </span>
                Tool Box
            </button>
        </mat-card-actions>
        <div class="clear"></div>
    </mat-card>
    <mat-drawer-container class="form-container">
        <mat-drawer #drawer mode="side" [opened]="tabIndex == 0" position="end">
            <!-- *ngIf="formID" add this condition to make side tool bar enable after saving form -->
            <app-tool-box *ngIf="!editForm" [formName]="pageName"></app-tool-box>
        </mat-drawer>
        <mat-drawer-content class="mat-elevation-z8">
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Add Forms
                    </ng-template>
                   <app-datainput-dynamic-form (tableData)="receiveRecords($event)" (tableCols)="receiveCols($event)" (formTitle)="formTitle($event)"></app-datainput-dynamic-form>
                </mat-tab>
                <mat-tab *ngIf="!editForm">
                    <ng-template mat-tab-label>
                        View Data
                    </ng-template>
                        <app-datainput-dynamic-table [title]='title' [tableData]='records' [tableFrom]='pageName'
                            [cols]='cols'></app-datainput-dynamic-table>
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
    </mat-drawer-container>
</div>