<div class="spinner" *ngIf="displaySpinner">
    <div class="loader"></div>
</div>
<div class="app-forms">
    <mat-card *ngIf="!editForm" class='header form-header'>
        <mat-card-header>
            <mat-card-title>{{pageName}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
            <button class="toolbox-show-btn" mat-flat-button color="primary" (click)="drawer.toggle()">
                <span class="material-icons" align="end">
                    vertical_split
                </span>
                Tool Box
            </button>
        </mat-card-actions>
        <div class="clear"></div>
    </mat-card>
    <mat-drawer-container class="form-container">
        <mat-drawer #drawer mode="side" [opened]="tabIndex == 0" position="end">
            <!-- *ngIf="formID" add this condition to make side tool bar enable after saving form -->
            <app-tool-box *ngIf="!editForm" [formName]="pageName"></app-tool-box>
        </mat-drawer>
        <mat-drawer-content class="mat-elevation-z8" *ngIf="pageName=='pie'">
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Add Forms
                    </ng-template>
                    <mat-card class="example-card">
                        <mat-card-content>
                            <div class="icon-cards">
                                <div class="icon-cards-content">
                                    <div class="icon-cards-item"></div>
                                    <div class="icon-cards-item"></div>
                                    <div class="icon-cards-item"></div>
                                    <div class="icon-cards-item"></div>
                                    <div class="icon-cards-item"></div>
                                </div>
                            </div>
                            <div id="pipe" style="height: 400px;width: 800px;"></div>
                            <div id="pipe2" style="height: 400px; width: 800px;"></div>
                        </mat-card-content>
                    </mat-card>
                    <!-- <app-datainput-dynamic-form (tableData)="receiveRecords($event)" (tableCols)="receiveCols($event)" (formTitle)="formTitle($event)"></app-datainput-dynamic-form> -->
                </mat-tab>
                <mat-tab *ngIf="!editForm">
                    <ng-template mat-tab-label>
                        View Data
                    </ng-template>
                    <app-datainput-dynamic-table [title]='title' [tableData]='records' [tableFrom]='pageName'
                        [cols]='cols'></app-datainput-dynamic-table>
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
        <mat-drawer-content class="mat-elevation-z8" *ngIf="pageName=='angular'">
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Add Forms
                    </ng-template>
                    <mat-card class="example-card">
                        <mat-card-content>
                            <!-- <input type="file" (change)="onChange($event.target.files)">
                            <button mat-raised-button color="primary" type="button"
                                (change)="onChange($event.target.files)">Primary</button> -->
                            <input #file type="file" [hidden]="true" accept=".txt"
                                (change)="onChange($event.target.files,'angular')">
                            <button mat-raised-button color="primary" #upload (click)="file.click()"> angular Upload
                                text file</button>
                            <div>
                                <h3>File Content</h3>
                                <!-- <pre> {{fileContent}} </pre> -->
                                <input type="text" class="form-control" id="txtProjName1" [(ngModel)]="fileContent">
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <!-- <app-datainput-dynamic-form (tableData)="receiveRecords($event)" (tableCols)="receiveCols($event)" (formTitle)="formTitle($event)"></app-datainput-dynamic-form> -->
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
        <mat-drawer-content class="mat-elevation-z8" *ngIf="pageName=='js'">
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Add Forms
                    </ng-template>
                    <mat-card class="example-card">
                        <mat-card-content>
                            <!-- <input type="file" (change)="onChange($event.target.files)">
                            <button mat-raised-button color="primary" type="button"
                                (change)="onChange($event.target.files)">Primary</button> -->
                            <input #file type="file" [hidden]="true" accept=".csv"
                                (change)="onChange($event.target.files,'js')">
                            <button mat-raised-button color="primary" (click)="file.click()">Upload csv
                                file</button>
                            <div>
                                <h3>File Content</h3>
                                <input type="text" class="form-control" id="txtProjName" [(ngModel)]="fileContent">
                                <!-- <pre> {{fileContent}} </pre> -->
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <!-- <app-datainput-dynamic-form (tableData)="receiveRecords($event)" (tableCols)="receiveCols($event)" (formTitle)="formTitle($event)"></app-datainput-dynamic-form> -->
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
    </mat-drawer-container>
</div>