<mat-nav-list >
    <div class="profile-card" >
        <div class="header">
            <h2>Collins</h2>
            <h4>DBmigration@collins.com</h4>
            <!-- <h3>{{empDetails.EmployeeId }}</h3>
            <h4>{{empDetails.EmailId }}</h4> -->
        </div>
        <img alt="profile img" src="/assets/img/profile_Image.jpg">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader >Features</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/switchboard">Switch Board</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/labs">Lab Work</a> -->
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>
            import_contacts
        </mat-icon>
        Contacts
    </a>
</mat-nav-list>