<div class="spinner" *ngIf="displaySpinner">
    <div class="loader"></div>
</div>
<div class="app-add-labwork">
    <div class="form-container">
        <form [formGroup]="labWorkForm" id="contentToConvert">
            <p-toast></p-toast>
            <mat-card>
                <mat-card-header>
                    <!-- <mat-card-title>{{labRequestedID ? labRequestedID:'&lt;ID&gt;'}}</mat-card-title> -->
                </mat-card-header>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">From Dept</mat-label>
                    <input matTooltip="From Dept" matInput formControlName="FromDepartment" name="FromDepartment"
                        placeholder="From Dept">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">Requested By</mat-label>
                    <mat-select matTooltip="Requested By" formControlName="RequestedById" name="RequestedById">
                        <mat-option *ngFor="let item of requestedBy" [value]="item.Id">
                            {{item.FullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">Requestor Phone Number</mat-label>
                    <input matTooltip="Requestor Phone Number" matInput formControlName="Telephone" name="Telephone"
                        placeholder="Requestor Phone Number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">Charge Number</mat-label>
                    <input matTooltip="Charge Number" matInput formControlName="WoNumber" name="WoNumber"
                        placeholder="Charge Number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <mat-select matTooltip="Priority" formControlName="Priority" name="Priority">
                        <mat-option *ngFor="let item of priority" [value]="item.Id">
                            {{item.Description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="asterisk_input">Date Received</mat-label>
                    <input matTooltip="Date Received" matInput formControlName="DateReceived" name="DateReceived"
                        [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                        <mat-label>Update</mat-label>
                        <mat-select matTooltip="Priority" formControlName="Update" name="Update">
                            <mat-option *ngFor="let item of update" [value]="item.Id">
                                {{item.firstLast}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                <mat-form-field>
                    <mat-label class="asterisk_input">Date Started</mat-label>
                    <input matTooltip="Date Started" matInput formControlName="StartDate" name="StartDate"
                        [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="asterisk_input">Requested Due Date</mat-label>
                    <input matTooltip="Requested Due Date" matInput formControlName="RequestedByDate"
                        name="RequestedByDate" [matDatepicker]="picker4">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
            </mat-card>
            <mat-card>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">Technician</mat-label>
                    <mat-select matTooltip="Technician" formControlName="LabTechnicianId" name="LabTechnicianId">
                        <mat-option *ngFor="let item of technician" [value]="item.Id">
                            {{item.FullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label class="asterisk_input">Engineer</mat-label>
                    <mat-select matTooltip="Engineer" formControlName="LabEngineerId" name="LabEngineerId">
                        <mat-option *ngFor="let item of engineer" [value]="item.Id">
                            {{item.FullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Part Name</mat-label>
                    <input matTooltip="Part Name" matInput formControlName="PartName" name="PartName"
                        placeholder="Part Name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Part Number</mat-label>
                    <input matTooltip="Part Number" matInput formControlName="PartNumber" name="partNumber"
                        placeholder="Part Number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>PMP or Spec</mat-label>
                    <input matTooltip="PMP or Spec" matInput formControlName="PmpSpec" name="PmpSpec"
                        placeholder="PMP or Spec">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Lot or Ser.#</mat-label>
                    <input matTooltip="Lot or Ser.#" matInput formControlName="LotServiceNumber" name="LotServiceNumber"
                        placeholder="Ser.#">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matTooltip="Quantity" matInput formControlName="Quantity" name="Quantity"
                        placeholder="Quantity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="asterisk_input">Date Completed</mat-label>
                    <input matTooltip="Date Completed" matInput formControlName="DateCompleted" name="DateCompleted"
                        [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Job Category Id</mat-label>
                    <mat-select matTooltip="JobCategoryId" formControlName="JobCategoryId" name="JobCategoryId">
                        <mat-option *ngFor="let item of jobCategoryId" [value]="item.Id">
                            {{item.Description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>parts</mat-label>
                    <mat-select matTooltip="PartId" formControlName="PartId" name="PartId">
                        <mat-option *ngFor="let item of parts" [value]="item.Id">
                            {{item.Description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>
            <mat-card>
                <mat-form-field appearance="outline" class="float-left">
                    <mat-label>Job Description</mat-label>
                    <textarea matTooltip="Job Description" matInput formControlName="JobDescription"
                        name="JobDescription" #jd maxlength="256" placeholder="Job Description"></textarea>
                    <br />
                    <mat-hint align="end">{{jd.value.length}} / 256</mat-hint>
                </mat-form-field>
                <div>
                    <mat-form-field appearance="outline" class="float-left">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matTooltip="Leave a comment" matInput formControlName="Comments" name="Comments"
                            #comment maxlength="256" placeholder="Leave a comment"></textarea>
                        <br />
                        <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
                    </mat-form-field>
                    <div class="clear"></div>
                </div>
            </mat-card><br />
            <app-lab-results (labTable)="receiveMessage($event)" [labResultList]='labResultList'></app-lab-results>
            <div align="center" class="saveForm">
                <button mat-raised-button color="primary" (click)="addLabRequest()">Submit</button>&nbsp;

                <button mat-raised-button color="primary" (click)="convertToPDF()">Print Lab
                    Request</button>&nbsp;
                <button mat-raised-button color="primary" (click)="labWorkForm.reset()">Reset</button>
            </div>
        </form>
    </div>
</div>`