.app-datainput-dynamic-table{
    padding: 10px 0 0;
      .p-button{margin:0 5px;}
      .table-header span.title{margin-top:8px;}
      .p-button.p-button-icon-only.p-button-rounded{height: 2em;width: 2em;}
  }