.app-view-labwork{
  padding: 10px 0 0;
    .p-button{margin:0 5px;}
    .table-header span.title{margin-top:8px;}
      // .p-datatable .p-datatable-tbody > tr > td {
      //   border-right : 0px !important;
      // }
      .p-button.p-button-icon-only.p-button-rounded{height: 2em;width: 2em;}
}
.p-dialog,.p-dialog-mask.p-component-overlay{z-index: 999 !important;}
// .ui-table .ui-table-thead > tr > th{background-color: rgb(35 35 35 / 87%) !important;}

