<div class="app-labs">
    <mat-card class='header'>
        <mat-card-header>
            <mat-card-title>Lab Work</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                Add Lab Work
            </ng-template>
            <app-add-labwork [requestedBy]="requestedBy"></app-add-labwork>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                View Lab Works
            </ng-template>
            <app-view-labwork [allRecords]="getAllRecords" [requestedBy]="requestedBy"></app-view-labwork>
        </mat-tab>
    </mat-tab-group>
    <div style="height:50px;"></div>
</div>